@import 'variables.scss';

$primary: $dark-brown;
$body-color: $dark-brown;
/* $table-hover-bg: #efe6e6;
$table-accent-bg: #f7eded; */
$black: $dark-brown;
$font-size-base: 0.9375rem;
$lead-font-size: 0.9375rem;
//$secondary: red;