$dark-brown: #260D0D;
$golden-gradient: linear-gradient(120deg, rgba(246,225,122,1) 0%, rgba(246,242,192,1) 50%, rgba(246,225,122,1) 100%);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);