$dark-brown: #260D0D;
$golden-gradient: linear-gradient(120deg, rgba(246,225,122,1) 0%, rgba(246,242,192,1) 50%, rgba(246,225,122,1) 100%);
$light-brown: rgba(246,242,192,1);
$light-brown2: rgba(246,225,122,1);
$dark-gradient: radial-gradient(circle, #260d0d, #220b0b, #1e0909, #190707, #140505);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);