$dark-brown: #260D0D;
$golden-gradient: linear-gradient(120deg, rgba(246,225,122,1) 0%, rgba(246,242,192,1) 50%, rgba(246,225,122,1) 100%);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);